<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}
    
    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

    {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}}
        {{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
    {{ end -}}

    {{ if .Site.Params.highlight -}}
        {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    {{ if .IsHome }}
    <title>{{ .Title }}</title>
    {{ else }}
    <title>{{ .Site.Title}} : {{ .Title }}</title>
    {{ end }}

    <!-- Home Only Styling -->
    {{ if .IsHome }}
    <style>
        header#banner {margin-top: -45px;}
        main p {
            font-family: 'ZCOOL QingKe HuangYou', cursive;
            letter-spacing: .1em;
            font-size: 1.4em;
        }
        body { margin: 25% auto 0 auto; }

        @media (min-width: 770px) {
            header#banner {margin-top: -70px;}
            body { margin: 10% auto 0 auto; }
        }
    </style>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    {{ end }}
    
</head>
