<!DOCTYPE html>
<html>
    {{- partial "head404.html" . -}}
    <body style="margin-top: 5%;">

        {{- partial "header.html" . -}}

        <main id="content" style="margin-bottom: -5%;">
        
            <div id="lottie">
                <lottie-player src="/404.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
            </div>
            <br>                   

        </main>

        {{- partial "footer.html" . -}}

        <script src="/lottie.js"></script>
        
    </body>
</html>